body {
  background-image: url(bg\ image.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(205, 238, 15);
} 


a {
  padding: 10px 20px;
  background-color: rgb(255, 215, 0);
  color: white;
  text-align: center;
  margin: 5px;
  border-radius: 4px;

} 


a:hover {
  background-color: rgb( 240, 230, 140);
} 
.container{
  display: flex;
  width: 700px; 
  height: 250px; 
  margin: auto;
  background-color: forestgreen;
 margin-top: 10px;

  
}
.picture{ display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;

}

p{ 
  text-align: center;
  
}

.navbar {
  justify-content: space-between;
  text-decoration: end;
  background-color: rgb(54, 69, 79);
  padding: 5px 20px;
} 

.navbar { 
  .home{ 
    font-size: 20px;
  }
  
}

@media (max-width: 768px) {
  .mobile{ background-color: yellowgreen;
  font-size: 20px;}
  .tablet{
    display: none;
  }
  .laptop{
    display: none;
  }
}
@media (min-width: 769px) and (max-width:992px){
  .mobile{ 
    display: none;
  }
  .tablet{ background-color: yellowgreen;
  font-size: 20px;
  }
  .laptop{
    display: none;
  }
}
@media (min-width: 993px) and (max-width:1200pxpx){
  .mobile{ 
    display: none;
  }
  .tablet{ 
    display: none;
  }
  .laptop{
    background-color: yellowgreen;
  font-size: 20px;
  }
}




.home { 
    text-align: center; 

  
  
  
}  


.home p{ 
  text-align: center;
}

img{
  margin-right: auto; 
  font-size: auto;
}
.about{
  text-align: center;
}
.about p{
  text-align: center;
}
.about h2{ 
  color: yellow; 
  
}
  

.about p {
  
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
} 

.about{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: auto;
    flex-wrap: wrap;
    
    
    .item2{
        height: 150px; 
        width: 100%; 
        background-color: rgb(85, 107, 47);
    
    } 
     .item3{
         
        height: 150px; 
        width: 100%; 
        background-color: rgb(204, 139, 32);
    
    } 
     .item4{
         
        height: 150px; 
        width: 100%; 
        background-color: rgb(48, 48, 48);
    
    } 
     .item5{
         
        height: 150px; 
        width: 100%; 
        background-color: rgb(101, 67, 33); 

    
    } 
     .item6{
        
        height: 150px; 
        width: 100%; 
        background-color: rgb(11, 70, 33);
    
    }  
    .item7{
         
        height: 150px; 
        width: 100%; 
        background-color: rgb(192, 12, 12);
    } 
    .item8{
        
        height: 150px; 
        width: 100%; 
        background-color: rgb(0, 0, 128);
    } 
    .item9{
         
        height: 150px; 
        width: 100%; 
        background-color: rgb(128, 0, 32);
    }

    .item1{
         
        height: 150px; 
        width: 100%; 
        background-color: rgb(85, 107, 32);
    }
    

} 





.contact {
   
  display: block;
  padding: 80px 20px;
  text-align: center;
  background: #0d1117;
  color: white;
} 
.contact h2{
  color: yellow;
  margin:  10px;
}

.contact p {
  margin-bottom: 20px;
  }
  .contact img {
    display: block;
    margin: 20px auto 10px auto;
    border-radius: 10px;
    border: 5px solid yellow;
    width: 150px;
    height: 150px;
  }